{{ template "head.html" . }}

<div class="Cookies">
    {{template "header.html" . }}

    <div class="main-cookies">
        <p>This website puts small text files, known as cookies, onto your computer. The cookies are used to
            make this website work and to collect information on how you use this website. Be sure to also read
            our <a href="/privacy">privacy policy</a>.</p>

        <h2>What cookies are in use?</h2>

        <h3>Security</h3>
        <p>We use a cookie in order to prevent action on this website (such as submitting a contact form) from
            being used from a different
            website. This is an essential cookie.</p>
        <p>The following cookie is set:</p>
        <ul>
            <li>csrf</li>
        </ul>

        <h3>Ensuring you are not a robot with Google ReCAPTCHA</h3>
        <p>We make use of Google ReCAPTCHA in order to ensure the actions users take on this website are not
            that of software known as a "robot", or simply "bot". These are essential
            cookies.</p>

        <p>The following cookies are set:</p>
        <ul>
            <li>PREF</li>
            <li>NID</li>
            <li>HSID</li>
            <li>APISID</li>
            <li>SID</li>
        </ul>

        <h3>Cookie message</h3>
        <p>On visiting this website we show a message which informs you that cookies are used. A cookie
            is used to check if you have already seen the message, so it is not shown again. This is
            an essential cookie.</p>

        <p>The following cookie is set:</p>
        <ul>
            <li>EU_COOKIE_LAW_CONSENT</li>
        </ul>

        <h3>Measuring website usage with Google Analytics</h3>
        <p>We use Google Analytics in order ensure this website is meeting the needs of its users and help us
            make improvements.</p>

        <p>Google Analytics collects the following information:</p>
        <ul>
            <li>The pages you visit on this website</li>
            <li>How long you spend on each page on this website</li>
            <li>How you got to this website</li>
            <li>What you click on while you’re on this website</li>
        </ul>

        <p>Google Analytics does not collect or store your personal information.</p>

        <p>The following cookies are set:</p>
        <ul>
            <li>_ga</li>
            <li>_gat</li>
            <li>_gid</li>
        </ul>

        <p><a href="https://tools.google.com/dlpage/gaoptout">You can opt out of Google Analytics
            cookies</a></p>

        <p>Last Updated: 14 September 2018</p>

    </div>

    <Footer/>

</div>
{{template "footer.html" .}}

{{ template "foot.html" . }}
