<footer class="main-footer">
    <div class="footer-about">
        <span class="footer-header">ABOUT</span>
        <p>We believe developing software is a team event. Innovating, disrupting the industry, delivering
            on those big ideas and meeting your business goals. It's only possible when talented and
            knowledgeable individuals work together. Qualified and experienced, we're here to help with
            that.</p>
    </div>

    <div class="footer-contact">
        <span class="footer-header">CONTACT</span>
        <p>We're always interested to hear about your challenges. Get in touch.</p>
        <div class="footer-contact-action">
            <a href="/contact">Contact</a>
        </div>
    </div>

    <div class="footer-nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </div>

    <p class="copyright">© 2018 Sea City Software Ltd. All rights reserved. Sea City Software is
        registered as a
        Limited Company in England & Wales as Company No. 11117271.</p>

    <div class="footer-policies">
        <span class="footer-header">OUR POLICIES</span>
        <p class="privacy"><a href="/cookies">Cookie policy</a></p>
        <p class="privacy"><a href="/privacy">Privacy policy</a></p>
    </div>
</footer>