<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Software Development Consultancy in Southampton & Hampshire | Sea City Software</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/css/jquery.modal.min.css">
    <link rel="stylesheet" href="/css/jquery-eu-cookie-law-popup.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.modal.min.js"></script>
    <script type="text/javascript" src="/js/jquery-eu-cookie-law-popup.js"></script>
</head>
<body>

<div class="App">
    <div class="wrapper">

    {{template "nav.html" .}}