{{ template "head.html" . }}

{{ template "header.html" . }}
<div class="Privacy">

    <div class="main-privacy">
        <h2>Introduction</h2>
        <p>In this privacy notice 'we' and 'our' means Sea City Software Ltd.</p>
        <p>This privacy notice governs how we use personal data we hold about you and gives information of
            how to exercise your legal rights.</p>
        <p>By consenting to this privacy notice your are giving us permission to process your personal
            data
            specifically for the purposes identified.</p>


        <h2>Who we are</h2>
        <p>We are Sea City Software Ltd, a software consultancy registered in England and Wales. Our company
            number is 11117271. Our registered address is 1, Derwent Business Centre, Clarke Street, Derby,
            England, DE1 2BU.</p>


        <h2>What personal data we collect</h2>
        <p>
            If you use the contact form on our website you will provide us with your full name, email
            address, company you are contacting us on behalf of (if any), contact telephone number and
            your
            written message. Your
            personal data is kept private and stored securely. You provide personal information in the
            contact form at your discretion.
        </p>
        <p>
            We collect data on how you use this website using cookies and device IDs. We collect data
            including your Internet Protocol (IP) address and the details of the web browser you used.
            We
            use Google Analytics to collect information on how you use this website.
        </p>


        <h2>Why we need it</h2>
        <p>In order to reply to a query or feedback about our products and services.</p>

        <p>In order to maintain and improve the user experience of our website and other products and
            services.</p>

        {/*<p>Google Analytics stores information about:*/}

        {/*the pages you visit on GOV.UK*/}
        {/*how long you spend on each GOV.UK page*/}
        {/*how you got to the site*/}
        {/*what you click on while you’re visiting the site*/}
        {/*We do not collect or store your personal information (for example your name or address) so this information
        cannot be used to identify who you are.*/}

        {/*We also collect data in order to:*/}

        {/*improve the site by monitoring how you use it*/}
        {/*gather feedback to improve our services, for example our email alerts*/}
        {/*respond to any feedback you send us, if you’ve asked us to*/}
        {/*send email alerts to users who request them*/}
        {/*allow you to access government services and make transactions*/}
        {/*provide you with information about local services if you want it</p>*/}

        <h2>What we do with your data</h2>
        <p>We will not sell or rent your data to third parties.</p>
        <p>We will not share data to third parties for marketing pruposes.</p>
        <p>We will share your data if required to do so by law, such as by court order.</p>


        <h2>The legal basis for collecting your personal data</h2>
        <p>We have a legitimate interest in analysing our website traffic in order to maintain the
            service.
            This includes monitoring successful page loads and error message.</p>


        <h2>How long we keep your data</h2>
        <p>We will only keep your personal data for as long as it is needed for the purposes set out in this
            document.</p>

        <h2>Where your data is processed and stored</h2>
        <p>Your personal data may be transferred outside of the European Economic Area (EEA) during its
            processing. If this is the case appropriate safeguards will be put in place.</p>

        <h2>How we protect your data and keep it secure</h2>

        <h2>Your rights</h2>
        <p>You have the right to:</p>
        <ul>
            <li>Request a copy of the data we hold about you</li>
            <li>Request that any inaccuracies in your personal data we hold are corrected</li>
            <li>Request information about how your personal data is processed</li>
            <li>Raise an objection about how your personal data is processed</li>
            <li>Request your personal data we hold to be erased from our records</li>
            <li>Request for us to restrict the way in which we process your data</li>
        </ul>
        <p>If you wish to excercise any of the above rights, please contact us through the <a
                href="/contact">contact page</a> or email info@seacitysoftware.com</p>

        <h2>Changes to this policy</h2>
        <p>We may change this privacy policy. When this happens we will update the "Last updated" date at
            the bottom of this page. Any changes to this privacy policy will apply to you and your data
            immediately.</p>

        <p>In the event that changes to this privacy policy affect how your personal data is processed, we
            will take reasonable steps to let you know.</p>

        <h2>Contact us or make a complaint</h2>
        <p>Contact us if you would like to ask a question, excercise your rights or raise a concern. You can
            contact us using the <a
                    href="/contact">contact page</a> or by emailing info@seacitysoftware.com.</p>

        <p>Last Updated: 9 August 2018</p>

    </div>
    <Footer/>
</div>
{{template "footer.html" .}}

{{ template "foot.html" . }}