<div class="main-services">
    <h2 class="section-header">Services</h2>
    <p class="services-summary-text section-summary">Whether you're looking for support on the
        latest
        cutting edge technologies,
        to maintain your legacy systems or build a better development function, you can rely on
        us.</p>

    <p class="services-summary-text section-summary">Here's a small summary of what we can help with:</p>

    <div class="services-summary">
        <div class="technical-services">
            <h3>Technical Services</h3>
            <ul>
                <li>Containerisation</li>
                <li>Microservices</li>
                <li>Data Streaming</li>
                <li>Geospatial (GIS)</li>
            </ul>
        </div>

        <div class="team-services">
            <h3>Team Services</h3>
            <ul>
                <li>Agile Process Support</li>
                <li>Meeting Facilitation</li>
                <li>Technical Training</li>
                <li>Coaching/Mentoring</li>
            </ul>
        </div>

        <div class="strategic-services">
            <h3>Strategic Services</h3>
            <ul>
                <li>Cloud Migration</li>
                <li>Continuous Delivery</li>
                <li>Software Testing Strategy</li>
                <li>Legacy Product Support</li>
            </ul>
        </div>
    </div>
    
</div>